version: '3'

services:
    nginx:
        image: nginx:latest
        ports:
            - "90:80"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
            - ./app:/app
    php:
        build:
            context: .
            dockerfile: PHP.Dockerfile
        volumes:
            - ./app:/app
        env_file:
            - .env
    mysql:
        image: mariadb:latest
        environment:
             MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
             MYSQL_DATABASE: ${MYSQL_DATABASE}
        volumes:
            - mysqldata:/var/lib/mysql
        ports:
            - 3308:3306
    phpmyadmin:
        image: phpmyadmin:latest
        ports:
            - 8090:80
        environment:
            - PMA_HOST=mysql
volumes:
    mysqldata: {}